/backend/node_modules/
/.vscode/
/.idea/
/backend/package-lock.json
/build/
/cmake-build-*
/frontend/node_modules/
/frontend/package-lock.json
/frontend/.editorconfig
/frontend/.browserslistrc
/sdkconfig
/sdkconfig.old
/data/
/frontend/dist/
/certs/
