@charset "utf-8";
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";
@import "../../../node_modules/bulma/sass/elements/container.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";
@import "../../../node_modules/bulma/sass/elements/tag.sass";
@import "../../../node_modules/bulma/sass/elements/notification.sass";
@import "../../../node_modules/bulma/sass/elements/box.sass";
@import "../../../node_modules/bulma/sass/elements/progress.sass";
@import "../../../node_modules/bulma/sass/form/all.sass";
@import "../../../node_modules/bulma/sass/components/navbar.sass";
//@import "../../../node_modules/bulma/sass/components/modal.sass";
@import "../../../node_modules/bulma/sass/components/level.sass";
@import "../../../node_modules/bulma/sass/grid/_all.sass";
@import "../../../node_modules/bulma/sass/layout/section.sass";
@import "../../../node_modules/bulma/sass/layout/hero.sass";

@import '~@radial-color-picker/vue-color-picker/dist/vue-color-picker.min.css';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
  padding-bottom: 25px;
}

#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: $primary;
    }
  }
}

.is-active > .navbar-icon {
  color: $green
}

.title {
  margin-top: 30px;
  color: $light;
}

.subtitle {
  color: $grey;
}

.text-left {
  text-align: left;
}

.control {
  &.is-text {
    padding-top: 0.375em;
    text-align: center;
  }
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-top-touch-navbar {
  @media screen and (max-width: 1023px) {
    margin-top: 52px;
  }
}

/* Box */
.box-header {
  text-align: left;
  border-bottom: 1px solid gray;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.even {
  background-color: lighten($grey, 30%);
}
.odd {
  background-color: lighten($grey, 45%);
}

/* loading */
.is-disabled {
  opacity: 0.4;
  pointer-events: none;
  transition: all 1s ease-in-out;
}

/* Center the loader */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: -40px 0 0 -40px;
  border: 8px solid $light;
  border-radius: 50%;
  border-top: 8px solid $warning;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bg-notification {
  padding: 1.25rem 1.25rem !important;
}

/* vue transition  LIST */
.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
.list-leave-active {
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateX(-30px);
}

/* vue transition FADE */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Frappe chart */
.chart-container .axis {
  stroke: darkgray;
}
@media (max-width: 768px) {
  .chart-legend {
    display: none;
  }
  .mobile-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    height: 46px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
  }
}